@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body{
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,238,190,1) 0%, rgba(155,189,37,0.8856676459646359) 100%);
}

body.work{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(224,68,63,1) 0%, rgba(189,159,37,0.8856676459646359) 100%);
}



header{
   text-align: center;
   padding:25px;
}

header .title{
    font-size: 2.2rem;
}

header .description{
    color:#336600
}

main aside{
    position: fixed;
    right:10%;
    background-color: rgba(255,255,255,0.5);
    padding:25px;
    border-radius: 5px;
}

button {
    background-color: #ff9966;
    border-radius: 5px;
    border:none;
    padding: 5px 10px;
    font-family: inherit;
    color:#fff;
    font-size: 1.2rem;
    cursor: pointer;
}

button:focus{
    outline:none;
}

button:hover{
    background-color: #ff5500;
    border-radius: 10px;
}

.completed{
    max-width:150px;
}

.history{
    display: none;
}
.history.show{
    display: block;
}

.leftTime{
    font-size: 2.5rem;
}


.playStatus{
    cursor: pointer;
    font-size: 2.5rem;
}